---
import '../styles/global.css'
import '../policy/headers.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Nebula Landing</title>
	</head>
	<body>
		<header></header>
		<main></main>
		<footer></footer>
	</body>
</html>
