---
import '@fontsource-variable/raleway';
import { seoConfig } from '../lib/seo.ts';
import PWA from '../components/head/pwa.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={seoConfig.description} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Nebula" />
    
    <title>Nebula Landing</title>
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    
    <PWA />
  </head>
  <body>
    <slot />
  </body>
</html>
